---
permalink: /humans.txt
eleventyExcludeFromCollections: true
layout: null
date: Last Modified
---

/* WHO */

  Friedrich & Thomas Ellmenreich

/* THANKS */

 Theme: Clean Blog
 Website: startbootstrap.com
 Github: https://github.com/startbootstrap/startbootstrap-clean-blog

/* Credits */

  Static Site Generator: Eleventy
	Twitter: @eleven_ty
  Website: 11ty.dev

/* SITE */

	Last update: {{ page.date }}
	Languages: German, Italian, English, French
  Generator: Eleventy
  Theme: Front Cover  Theme
  Fonts: Font-Awesome
	Doctype: HTML5
