---
layout: base.njk
---
{% set t = translations[lang] %}
{% include "partials/header.njk" %}
<div class="container px-4 px-lg-5">
<div class="row gx-4 gx-lg-5 justify-content-center">
<div class="col-md-10 col-lg-8 col-xl-7">
{{content |safe}}
<hr class="my-4" />
{% set localizedPosts = collections.posts | filterByLanguage(lang) %}
{%- for s in localizedPosts | reverse | limit(6) -%}
<div class="post-preview">
<a href="{{s.url}}"><h2 class="post-title">{{s.data.title}}</h2></a>
{% if s.data.description %}<h3 class="post-subtitle">{{s.data.description}}</h3>{% endif %}
<p class="post-meta">
{{ t.post.by }} <a href="{{ metadata.author.url | locale_url }}">{{metadata.author.name}}</a>
{{ t.post.on }} {{ s.date | readableDate(lang) }}
</p>
</div>
<hr class="my-4" />
{%- endfor -%}
<div class="row">
<div class="col-md-12 mb-5 mt-3"><a class="btn btn-primary text-uppercase col-12" href="{{ '/blog/' | locale_url }}">{{ t.post.all }}</a></div>
</div>
</div>
</div>
</div>
