{% set t = translations[lang] %}
{% set localizedPosts = postslist | filterByLanguage(lang) %}
{% for s in localizedPosts | reverse %}
<div class="post-preview">
	<a href="{{s.url}}"><h2 class="post-title">{{s.data.title}}</h2></a>
	{% if s.data.description %}<h3 class="post-subtitle">{{s.data.description}}</h3>{% endif %}
	<p class="post-meta">
		{{ t.post.by }} <a href="{{ metadata.author.url | locale_url }}">{{metadata.author.name}}</a>
		{{ t.post.on }} {{ s.date | readableDate(lang) }}
	</p>
</div>
<hr class="my-4" />
{%- endfor -%}
