---
title: Tags
description: "All tags used by English posts"
---
{% set t = translations[lang] %}
<h1>{{ t.tags.title }}</h1>

<ul>
{% for tag in collections | getLocaleTags(lang) %}
	{% set tagUrl %}/{{ lang }}/tags/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a></li>
{% endfor %}
</ul>
